form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}

input, select, textarea {
    margin-bottom: 15px;
}

#fullname {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#fullname input {
    width: 48%;
}

textarea {
    resize: none;
    height: 150px;
}

