@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#main {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

h3 {
  opacity: 1;
  font-weight: bold;
  padding-top: 20%;
  padding-bottom: 5%;
  text-align: center;
  font-size: 1.6em;
  color: #FFFFFF;
}

.left-title h3{
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 3%;
  padding-left: 2%;
  text-align: left;
  font-size: 1.6em;
  color: #000000;
  width: 100vw;
}

#main p {
  max-width: 80%;
  margin-bottom: 3%;
}

.pic-container {
  background-image: url('../images/mada/lemurien.jpg');
  background-size: cover;
  margin-bottom: 1%;
}

.pic-container2 {
  background-image: url('../images/mada/tsingy.jpg');
  background-size: cover;
  margin-bottom: 1%;
}

.pic-container3 {
  background-image: url('../images/mada/baleine.jpg');
  background-size: cover;
  margin-bottom: 1%;
}

.text-in-pic {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #3fb0cc;
  opacity: 0.9;
  text-align: center;
  align-items: center;
  padding-bottom: 10%;
}



.text-in-pic p {
  width: auto;
  opacity: 1;
  color: #FFFFFF;
  text-align: center;
  line-height: 2em;
  font-size: 1.1em;
}

.baobab {
  display: flex;
  width: 100%;
  padding-left: 2%;
}

.text-in-baobab {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin-right: 2%;
}

.text-in-baobab p {
  max-width: 100% !important;
}

#bao-zebu {
  max-width: 35%;
}
