/*----------------------Le tout---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*----------------------Le header---------------------*/

.navigationList{
    width: 100%;
    display: flex;
    flex-direction:  row;
    height: 120px;
    background-color: #0F0701;
    justify-content: center;
    align-items: center;
}

ul li{
    width: 100%;
    text-align: center;
    justify-content: center;
    list-style-type: none;

}
.navigationList li a{

    color: #FAD494;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
ul.sousMenu {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 200ms;
    text-transform: capitalize;

}

li.menuDeroulant:hover > .sousMenu {
    max-height: 100px;
}

.navigationList li a:hover{
    color: #B97400;
    font-weight: bold;
    font-size: 1.2em;
    margin: 1%;

}






/*----------------------Le body---------------------*/

/*----------------Background---------------*/
.container {
    background-image: url(../images/accueil1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}










/*----------------------Le footer---------------------*/
